<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/mui.min.js"></script>
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">
      <div class="mui-panel">
          <h1>title-place</h1>
          body-place
      </div>
    </div>
  </body>
</html>