<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="http://cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">

      <div id="content" class="mui-container-fluid">
        <div class="mui-row">
          <div class="mui-col-sm-10 mui-col-sm-offset-1">
            <br>
            <br>
            <div class="mui--text-black-54 mui--text-body2">PINNED POST</div>
            <div class="mui-divider"></div>
            <br>
            index-place
          </div>
        </div>
      </div>
    </div>
  </body>
</html>